Magazine advertising has a wide range of pricing. Smaller regional and local magazines charge less than national magazines with millions of subscribers and may be a better bet for your small business, depending on your industry
Magazine advertising doesn't just vary in size, but also in type. It includes display ads, advertorials, classified and special promotions.
Why You Should Advertise In Magazines
<ul>
<li>Magazines and magazine ads capture focused attention: the focused process of magazine reading leads to less media multi-tasking, ensuring single minded attention to advertising.</li>
<li>Magazine status: some magazine titles are well respected in their field, so an advertisement in these will increase your product/service’s prestige by association.</li>
<li>Magazine advertising is targeted: magazines engage readers in very personal ways. There’s a magazine for every passion and a passion for every magazine. Use magazines to reach your target audience in a meaningful way.</li>
<li>Magazine advertising is relevant and welcomed: consumers value magazine advertising, reading it almost as much as the editorial itself. The ads are accepted as an essential part of the magazine mix.</li>
<li>Magazines are credible: consumers trust magazines so much that they are the leading sources of information that readers recommend by word-of-mouth to others.</li>
<li>Magazines offer a lasting message: ads keep working 24/7. They provide a lasting, durable message with time to study a brand’s benefits. Consumers clip and save magazine ads for future reference.</li>
<li>Tell The Entire Brand Story - Magazines allow in-depth, detailed communication of the entire brand story.</li>
<li>Flexibility - Magazines provide opportunities for inserts, supplements, advertorials and a variety of size and positioning options to meet any advertiser‘s specific creative needs.
Ways In Which Magazines Deliver Engagement</li>
<li>The intimacy between reader and Magazines benefits advertisers. Also the strong positive brand values of the Magazines can transfer onto the advertisements.</li>
<li>Because advertisements are relevant and valued, ad clutter is not a problem in Magazines.</li>
<li>Readers take action as a result of seeing advertising in Magazines.</li>
<li>Targeting with precision and without wastage is a key strength of Magazines.</li>
<li>Creative formats such as gatefolds, textures, special papers, samples, sponsorship, advertisement features (‘advertorials’), and so on can create additional impact and interaction.</li>
<li>Advertising in Magazines is a great, cost-effective way to reach an exclusive group of affluent and highly educated managers, owners, professionals and executives.</li>
Effectiveness Of Magazine Advertising<br>
The effectiveness of magazine advertising depends on your advertising and promotion objectives, as well as the budget you have for advertising. Magazine advertising has strengths and weaknesses relative to other ad media. In general, you want to use media that reach your target audience and allow you to present effective messages affordably.

