Busy, people are particularly strong radio listeners because of its accessibility while they are on the go – at work, driving, relaxing at home or using the internet.
Advantages Of Using Radio Advertising 
<ul><li>Radio’s cost-efficiency allows advertisers to be heard every day and multiple times throughout the day.</li>
<li>	This average frequency is critically important for delivering rapid advertising response, such as – web visits, store traffic, sales, brand recall and intent-to-purchase.</li>
<li>	Radio has strong reach across reions and each week attracts a large number of engaged listeners.</li>
<li>	Busy, mobile people are particularly strong radio listeners because of its accessibility while they are on the go – at work, driving, walking, relaxing at home or using the internet.</li>
<li>	Radio’s reach provides advertisers’ with cut through, campaign extension, frequency and message reinforcement.</li>


