When Should You Use TV Advertising
<ul>
<li>	Repositioning Your Brand: changing perceptions about a brand is a difficult task.  A strong branding effort is required to change the current association, beliefs and feelings about a brand </li>
<li>	Changing Behavior: not all advertising is about consumption.  Sometimes it’s about trying to persuade people to change what they do. </li>
<li>	Generate Response: your Brands can use TV's ability to drive people to buy directly online or offline.</li>
<li>	Demonstration: one of TV’s greatest strength is its ability to demonstrate. Sometimes a viewer needs to see a product in action in order to understand fully its benefits.  It is the power of the moving image accompanied by sound that makes TV advertising so powerful.  Demonstration shows viewers how to consume a new product.</li>
<li>	Customer Retention: it is much easier to retain existing customers than to find new customers. Therefore, it is really important to remind your existing customers why they love your brand. A television campaign is capable of making a customer feel proud of ‘their’ brand, remind them why they bought into the brand in the first place and of all the positive elements of the brand and keep them feeling positive and warm about their choice of brand.  Most of all it protects them against the advances of all those other brands who want to get their hands on your customers.<li>
<li>	Launching Brands: TV is without doubt the most effective medium for launching brands.  It combines the scale and reach that a new brand needs with impact and persuasiveness.  No other medium can offer both these qualities.</li>
What Environment Should Your TV Ad Be In?<br>
Part of the planning process is determining which channels give you access to the right programmes and, ultimately, are most effective at reaching your audience.
In order to meet your communication objectives efficiently, it is essential that the right mix of channels is bought.
There are three measures that are used to describe a channel’s profile:
<ul><li>	Age</li>
<li>	Gender</li>
<li>	Class</li>
These can be compared to either the population as a whole, or the overall profile of commercial TV

