.doc a{
    color: rgb(216,67,21);
}
.background-sky {
    background-color: #0143A3;
    background: -webkit-linear-gradient(#0143A3,#0273D4);
    background: linear-gradient(#0143A3,#0273D4);
    color: #fff;
}

.hero.is-large {
    height: 478px;
    padding-top: 16px;
    text-align: center;
}
.hero {
    position: relative;
    padding: 80px 48px 56px;
    height: 80px;
}
.background-superhero-paper {
    background: url("/assets/images/responsive3.png") bottom center no-repeat;
    background-size: 100%;
    background-position: fixed;
}

.hero .hero-logo {
    position: relative;
    padding-top: 124px;
    opacity: 1;
    width: 560px;
    margin: 24px auto 40px auto;
    font-weight: 400;
}
.doc h3 {
    margin: 0 0 16px 0;
    font-size: 24px;
    font-weight: 450;
    opacity: .7;
    line-height: 32px;
}
.hero.is-large {
    text-align: center;
}
.banner {
    background: #ECEFF1;
    padding: 16px 48px;
    min-height: 8px;
}
.banner-floaty {
    width: 920px;
    height: 112px;
    background-color: #fff !important;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.5);
    position: relative;
    z-index: 1;
    display: table;
    padding: 0 !important;
}
.banner-floaty .banner-ng-annoucement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}
.banner-floaty .banner-ng-annoucement .banner-text {
    font-size: 16px;
    color: #607D8B;
}

.banner p, .banner h4 {
    margin: 0;
}

.banner-floaty .banner-ng-annoucement .banner-button a {
    color: #607D8B;
    background-color: #ECEFF1;
    padding: 0;
    line-height: 36px;
    padding-left: 20px;
    padding-right: 20px;
}
.button {
    display: inline-block;
    line-height: 32px;
    padding: 0 16px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    border: none;
}
section.doc .md-button.md-raised {
    color: rgb(33,33,33) !important;
    background-color: rgb(250,250,250);
}
section.doc .md-button.button-large {
    font-size: 15px;
    line-height: 48px;
    padding: 0 24px;
}

.home-row {
    max-width: 920px;
    margin: 0 0 60px 0;
    margin-left: auto;
    margin-right: auto;
}
.layout-row {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
.layout, .layout-column, .layout-row {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.home-row .promo-img-container img {
    max-width: 90%;
}
img {
    border: 0;
}

.home-row .promo-image-container, .home-row .text-container {
    max-width: 50%;
}
.cta-bar {
    text-align: center;
}
.home-rows {
    margin-top: 112px;
}
/*md-list-item > ng-md-icon:first-child, md-list-item .md-list-item-inner > ng-md-icon:first-child {
    margin-right: 15px;
    margin-top: -20px;
    margin-left: 20px;
}


.home-rows auto{
    margin: 20px auto;
}*/
section.doc .text-headline.m100{
    margin: 100px auto 20px;
}
section.doc p.large{
    font-size: 1.4em;
    color: #607D8B;
}
section.doc .highlights{
    margin: 30px;
}

   body,
html {
    width: 100%;
    height: 100%;
}

