<div layout="row">
<md-content flex layout="column">
<section layout="column" flex layout-align="center center">
  <h1>Write to us</h1>
  <form name="form" ng-submit="send(contact)" novalidate>
  <section class="section" layout="column">
    <md-input-container md-is-error="(form.message.$error.required || form.message.$error.message) && form.message.$dirty">
      <label>Message</label>
      <textarea name="contact" ng-model="contact.message" required md-autofocus></textarea>
      <div ng-messages="form.message.$error" ng-if="form.message.$dirty">
        <div ng-message="required">Message required</div>
      </div>
    </md-input-container>
  </section>
  <div class="md-dialog-actions" layout="row">
    <md-button type="submit" class="md-raised circular-progress-button md-primary" ng-disabled="!form.$valid || vm.loading" aria-label="Send Message">
      <span ng-show="!vm.loading"><ng-md-icon icon="send"></ng-md-icon>Send</span>
      <md-progress-circular md-mode="indeterminate" md-diameter="25" ng-show="vm.loading" class="md-accent md-hue-1"></md-progress-circular><span ng-show="vm.loading">Loading...</span>
    </md-button>
    <md-button class="btn btn-default btn-lg btn-register" ng-click="cancel()" aria-label="Cancel Send"> Cancel </md-button>
  </div>
  </form>
</section>
</md-content>
</div>
