<div  id="top">
<div class="footer site-footer" >

	<div  class="row" style="padding-left:50px;padding-right: 50px">
		
        	<div  class="col-xs-3 stats-graph">
        
               <ul class="gd_col fw-1-5 md-1-1">
                <li>
               &nbsp;
              </li>
              <li>
                <a class="no-ajax ssl-radio-keepalive" ng-click="topmenu.showLogin()" ng-if="!topmenu.isLoggedIn()" style="color:#fff">Sign in</a>
              </li>
              <li>
                <a class="no-ajax ssl-radio-keepalive" href="/subscribe/">Subscribe to our newsletter</a>
              </li>
              <li>
                <a href="/about/jobs/">Jobs</a>
              </li>
              <li>
                <a href="/index">About Us</a>
              </li>
                   
                                  
                                 
                                
    	</div>
    	<div  class="col-xs-3 stats-graph">
        
                
               <ul class="gd_col fw-1-5 md-1-1">
          		 <li>
               &nbsp;
              </li>
              <li>
                <a href="/index/faq">FAQs</a>
              </li>
              <li>
                <a href="/contributors">Verified Publishers</a>
              </li>
              <li>
                <a href="/about/cookie-policy">Cookie Policy</a>
              </li>
              <li>
                <a href="/index/terms">Terms &amp; Conditions</a>
              </li>
              <li>
                <a href="/site-map/">Site Map</a>
              </li>
            </ul>                          
                                  
                                 
                                
    	</div>

    	<div  class="col-xs-3 stats-graph">
    	<h4>Find Us</h4>
        	<address>8 Impala Road <br>Borrowdale West <br>Harare<br>Zimbabwe</address>    
                                  
                                 
                                
    	</div>


    	<div  class="col-xs-3 stats-graph">
    	<h4>Contact Us</h4>
        	<i>Phone:+263773 4392 46</i>   <br> 
        	<i>Email: info@mediabox.co.zw</i>  <br> 
        	<i> <a ng-click="addDialog()" href="#">Quick Contact</a></div></i>
                                  
                                 
                                
    	</div>

		
	</div>


  <div class="footer-content" layout="row" layout-align="center center">
    <div layout-align="start center">© 2016 <strong>MediaBox </strong>  <a href="" target="_blank"></a> 
    |
  </div>
</div>
<!--Container for md-toast-->
<div class="fixed-bottom"> <div class="toast-container" ng-if="screenIsBig">&nbsp;</div> </div>
</div>