.progress{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #f00;
  width: 100%;
  padding: 1px;
}
.progress div{
  background-color: orange;
}
.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    text-align: center;
    padding: 25px;
    margin: 10px;
}
.dragover {
    border: 5px dashed blue;
}

.thumbnail {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    -webkit-transition: opacity .1s;
    transition: opacity .1s;
}
.thumbnail .centered {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translate(50%,50%);
    -ms-transform: translate(50%,50%);
    transform: translate(50%,50%);
}
.thumbnail img{
  width:100%;
}
.detail-image{
  height: auto;
  width: 100%;
}
.flexbox-container {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
}

.flexbox-container > div {
	padding: 10px;
}

.flexbox-container > div:first-child {
	margin-right: 20px;
  width: 70%;
}
